doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/semantic.css")
        link(rel="stylesheet" href="/css/login.css")
        script(src="/js/jquery.js")
        script(src="/js/semantic.js")
        script(src="/js/axios.js")
        title Document
    body
        .ui.middle.aligned.center.aligned.grid
            .column
                form(action='/user/login' method='post').ui.form
                    .ui.segment.my-box
                        h1
                            img(src="/imgs/uzstat.png", alt="img stat", srcset="img stat")
                        h2 Tizimga kirish
                        .ui.center.aligned.basic.segment
                            .field
                                .ui.left.input
                                    input(type='text' name='name' placeholder='Foydalanuvchio nomi')
                            .field
                                .ui.left.input
                                    input(type='password' name='password' placeholder='Kalit')
                        button.ui.primary.fluid.button(type='submit') Kirish

