doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/semantic.css")
        link(rel="stylesheet" href="/css/starter.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/jquery.js")
        script(src="/js/semantic.js")
        script(src="/js/axios.js")
        title Document
    body
        // Following Menu
        .ui.large.top.fixed.hidden.menu
            .ui.container
                a(href='/task/rep').item Rejalashtirish(Qo'mita)
                a(href='/task/region').item Rejalashtirish(Hududiy boshqarmalar)
                a.active.item Rejalashtirish(Hududiy bo'limlar)
                a(href='/task/check').item Tekshirish
                .right.menu
                    .item
                        a(href="/").ui.button Chiqish
        // Sidebar Menu
        .ui.vertical.inverted.sidebar.menu
            a(href='/task/rep').item Rejalashtirish(Qo'mita)
            a(href='/task/region').item Rejalashtirish(Hududiy boshqarmalar)
            a.active.item Rejalashtirish(Hududiy bo'limlar)
            a(href='/task/check').item Tekshirish
            a(href="/").item Chiqish
        .pusher
            .ui.inverted.vertical.masthead.segment.header-color
                .ui.container
                    .ui.text.menu
                        .ui.right.dropdown.item.item--white=name
                            i.dropdown.icon
                    h1.ui.inverted.header
                        | Davlat statistika qo'mitasi
                .ui.container
                    .ui.secondary.inverted.pointing.menu
                        a.toc.item
                            i.sidebar.icon
                        a(href='/task/rep').item Rejalashtirish(Qo'mita)
                        a(href='/task/region').item Rejalashtirish(Hududiy boshqarmalar)
                        a.active.item Rejalashtirish(Hududiy bo'limlar)
                        a(href='/task/check').item Tekshirish
                        .right.item
                            a(href="/").ui.inverted.button Chiqish
            .ui.hidden.divider
            form(action='/task/town' method='post').ui.container.large.equal.width.form.segment
                h4.ui.dividing.header Vazifa yaratish
                .fields 
                    .wide.field
                        label Hududiy boshqarma
                        select#region_user.ui.fluid.search.dropdown(name="management_user_id")
                    .wide.field
                        label Bo'lim
                        select#region_town.ui.fluid.search.dropdown(name="user_id")
                .fields
                    .two.wide.field
                        label Vaqt
                        .two.fields
                            .field
                                input(type='number' value="30" name="date_day" placeholder='Kun')
                            .field
                                select.ui.fluid.search.dropdown(name='date_month')
                                    option(value=1) Yanvar
                                    option(value=2) Fevral
                                    option(value=3) Mart
                                    option(value=4) Aprel
                                    option(value=5) May
                                    option(value=6) Iyun
                                    option(value=7) Iyul
                                    option(value=8) Avgust
                                    option(value=9) Sentabr
                                    option(value=10) Oktabr
                                    option(value=11) Noyabr
                                    option(value=12) Dekabr
                            .field
                                input(type='number' value="2022" name="date_year" placeholder='Yil')
                .fields
                    .field
                        label Vazifa
                        input(type='text' name="text" placeholder='Vazifa')
                button(type="submit").ui.button Yaratish
            .ui.container.large.equal.width.form.segment
                table.ui.celled.table
                    thead
                        tr
                            th Nomi
                            th Foydalanuvchi nomi
                            th Vazifa
                            th Kun
                            th Oy
                            th Yil
                            th O'zgartirish
                    tbody#tasklist
            script(src="/js/main.js")
            script(src="/js/main_admin2.js")