doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/semantic.css")
        link(rel="stylesheet" href="/css/starter.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/jquery.js")
        script(src="/js/semantic.js")
        script(src="/js/axios.js")
        title Document
    body
        // Following Menu
        .ui.large.top.fixed.hidden.menu
            .ui.container
                a.active.item Qo'mita
                a(href="/management/region").item Hududiy boshqarmalar
                a(href="/management/town").item Hududiy bo'limlar
                a(href="/log").item Malumotlar
                .right.menu
                    .item
                        a(href="/").ui.button Chiqish
        // Sidebar Menu
        .ui.vertical.inverted.sidebar.menu
            a.active.item Qo'mita
            a(href="/management/region").item Hududiy boshqarmalar
            a(href="/management/town").item Hududiy bo'limlar
            a(href="/log").item Malumotlar
            a(href="/").item Chiqish
        .pusher
            .ui.inverted.vertical.masthead.segment.header-color
                .ui.container
                    .ui.text.menu
                        .ui.right.dropdown.item.item--white=name
                            i.dropdown.icon
                    h1.ui.inverted.header
                        | Davlat statistika qo'mitasi
                .ui.container
                    .ui.secondary.inverted.pointing.menu
                        a.toc.item
                            i.sidebar.icon
                        a.active.item Qo'mita
                        a(href="/management/region").item Hududiy boshqarmalar
                        a(href="/management/town").item Hududiy bo'limlar
                        a(href="/log").item Malumotlar
                        .right.item
                            a(href="/").ui.inverted.button Chiqish
            .ui.hidden.divider
            form(action='/management/rep' method='post').ui.container.large.equal.width.form.segment
                h4.ui.dividing.header Boshqarma(Qo'mita)
                .fields
                    .seven.wide.field
                        label Boshqarma
                        input(type='text' placeholder='Boshqarma' name="name")
                    .six.wide.field
                        
                        .two.fields
                            .field 
                                label Foydalanuvchi nomi
                                input(type='text' placeholder='User name' name="Foydalanuvchi nomi")
                            .field
                                label Kalit
                                input(type='text' name='password' placeholder='Kalit')
                button.ui.button(type="submit") Qo'shish
            .ui.container.large.equal.width.form.segment
                table.ui.celled.table
                    thead
                        tr
                            th Nomi
                            th Foydalanuvchi nomi
                            th(style="width: 150px") O'chirish
                    tbody#replist
            .ui.hidden.divider
        .ui.modal
            .header Foydalanuvchi ma'lumotlarini o'zgartirish
            .nimadir(style="padding: 20px")
                .ui.container.large.equal.width.form.segment
                    h4.ui.dividing.header Boshqarma(Qo'mita)
                    .fields
                        .seven.wide.field
                            label Boshqarma nomi
                            input(type='text' id="modal_name" placeholder='Boshqarma' name="name")
                        .six.wide.field
                            .two.fields
                                .field 
                                    label Foydalanuvchi nomi
                                    input(type='text' id="modal_user_name" placeholder='Foydalanuvchi nomi' name="Foydalanuvchi nomi")
                                .field
                                    label Kalit
                                    input(type='text' id="modal_new_password" placeholder='Kalit' name='password')
            .actions
                .ui.black.deny.button Yo'q
                button#btn_update.ui.positive.right.button Ha, O'zartirish
        script(src="/js/main.js")
        script(src="/js/main_super_admin.js")