doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="stylesheet", href=`css/login.css`)
        title login page
    body
        .wrapper
            form(class="form-login" action="/new_password", method="GET") 
                .container 
                    input(type="text", name="name", placeholder="inn" value='')
                    input(type="password", name="code", value='' placeholder="oldingi kalit")
                    input(type="password", name="new_code", value='' placeholder="yangi kalit")
                    button(type="submit") O'zgartirish